{% extends "furo/components/edit-this-page.html" %}

{% block link_available -%}
{{ furo_edit_button(determine_page_edit_link()) }}
{%- include "components/language-selector.html" -%}
{%- endblock %}

{% block link_not_available %}
{# Make nice things happen, on Read the Docs #}
{%- if READTHEDOCS and conf_py_path and page_source_suffix and github_user != "None" and github_repo != "None" and github_version and pagename and page_source_suffix %}
  {% set url = "https://github.com/" + github_user + "/" + github_repo + "/edit/" + github_version + conf_py_path + pagename + page_source_suffix %}
  {{ furo_edit_button(url) }}
{%- endif -%}
{%- include "components/language-selector.html" -%}
{% endblock %}
