{% block language_selector %}
<div class="language-selector">
	<label class="language-selector-icon" for="__language">
		<div class="visually-hidden">Switch Language</div>
		<i class="icon">
			<svg><use href="#svg-language"></use></svg>
		</i>
	</label>
	<input type="checkbox" class="sidebar-toggle" name="__language" id="__language">
	<div class="language-list-container">
		<label class="language-list-underlay" for="__language"></label>
		<ul class="language-list">
			<li><a class="muted-link current" href="#">🇺🇸 English</a></li>
			<li><a class="muted-link" href="#">🇫🇷 Français <span class="en">(French)</span></a></li>
			<li><a class="muted-link" href="#">🇰🇷 한국인 <span class="en">(Korean)</span></a></li>
			<li><a class="muted-link" href="#">🇮🇹 Italiano <span class="en">(Italian)</span></a></li>
		</ul>
	</div>
</div>
{% endblock language_selector %}
