{% block language_selector %}
{% if translations %}
<div class="language-selector">
	<label class="language-selector-icon" for="__language">
		<div class="visually-hidden">Switch Language</div>
		<i class="icon">
			<svg><use href="#svg-language"></use></svg>
		</i>
	</label>
	<input type="checkbox" class="sidebar-toggle" name="__language" id="__language">
	<div class="language-list-container">
		<label class="language-list-underlay" for="__language"></label>
		<ul class="language-list">
			{% for tr in translations %}
				{% set extra_class = "current" if tr.is_current else "" %}
				<li><a class="muted-link {{ extra_class }}" href="{{ pathto(tr.translated_docname) }}">{{ tr.language_emoji }} {{ tr.language_name }}
				{% if tr.language_name_en %}
					<span class="en">({{ tr.language_name_en }})</span>
				{% endif %}
				</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %}
{% endblock language_selector %}
