{% block language_selector %}
<div class="theme-language-selector">
	<button title="Switch Language">
		<div class="visually-hidden">Switch Language</div>
		<svg><use href="#svg-language"></use></svg>
	</button>
	<div class="theme-language-list-container">
		<ul class="theme-language-list">
			<li><a class="muted-link theme-current" href="#">🇺🇸 English</a></li>
			<li><a class="muted-link" href="#">🇫🇷 Français <span class="theme-en">(French)</span></a></li>
			<li><a class="muted-link" href="#">🇰🇷 한국인 <span class="theme-en">(Korean)</span></a></li>
			<li><a class="muted-link" href="#">🇮🇹 Italiano <span class="theme-en">(Italian)</span></a></li>
		</ul>
	</div>
</div>
{% endblock language_selector %}
