{% include "furo/partials/icons.html" %}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="svg-language" viewBox="0 0 24 24">
    <title>Language</title>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <ellipse cx="12" cy="12" rx="3.2131143" ry="8.3191395" />
      <path d="M 3.524551,9.5419233 H 20.475449" />
      <path d="M 3.524551,14.458077 H 20.475449" />
      <circle cx="12" cy="12" r="9.309145" />
    </svg>
  </symbol>
</svg>
