.admonition.diff {
  border: none;
  margin-bottom: -.5rem;
  margin-top: -.5rem;
  box-shadow: none;
}
.admonition.diff > .admonition-title {
  border: none;
  background: none;
  margin: 0 -.5rem 0;
  padding-left: 1.5rem;
}
.admonition.diff > .admonition-title::before {
  -webkit-mask-image: none;
  mask-image: none;
  background: none;
}

.admonition.diff .admonition-title {
    display: block;
    clear: both;
    cursor: pointer;
}
.admonition.diff .admonition-title:before {
    content: "▼";
    transform: rotate(-90deg);
    transition: transform 0.1s;
    transform-origin: 35% 60%;
}
.admonition.diff .admonition-title.open:before {
    content: "▼";
    transform: rotate(0deg);
}

.admonition.diff pre {
  white-space: pre-wrap;
}
