.language-selector {
  position: relative;
}

.language-selector-icon {
  cursor: pointer;
}

.language-selector-icon:hover {
  color: var(--color-link);
}


#__language:not(:checked) + .language-list-container {
  display: none;
}

.language-selector .language-list-container {
  margin: 0;
  right: 0;
  width: 100vw;
  position: absolute;
}

.language-selector .language-list-underlay {
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.language-selector .language-list-container > ul {
  padding: 0;
  margin: 0;
  position: absolute;
  right: 0;
  list-style-type: none;
  
  background-color: var(--color-background-primary);
  box-shadow: 0 .2rem .5rem rgba(128,128,128,.1), 0 0 .0625rem rgba(128,128,128,.2);
  border-radius: .2rem;
}

.language-selector .language-list-container > ul li a {
  display: block;
  padding: 0.5rem 0.8rem;
  color: var(--color-foreground-primary);
  text-decoration: none;
}
.language-selector .language-list-container > ul li a.current,
.language-selector .language-list-container > ul li a.current:hover {
  color: var(--color-foreground-muted);
  background-color: var(--color-background-secondary);
  cursor: default;
}
.language-selector .language-list-container > ul li a:hover {
  background-color: var(--color-background-hover);
  color: var(--color-foreground-primary);
  text-decoration: none;
}
.language-selector .language-list-container > ul li a .en {
  color: var(--color-sidebar-link-text);
}
