ul.simple,
ol.simple {
	padding-left: 1.6rem;
}

ul.simple li:not(:last-child),
ol.simple li:not(:last-child) { 
	margin-bottom: 0.5rem;
}

body .with-shadow {
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
}

@media (prefers-color-scheme: dark) {
body[data-theme="dark"] .with-shadow,
body:not([data-theme="light"]) .with-shadow {
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.7);
}
}

figcaption {
	font-style: italic;
	font-size: 1.0rem;
}
figcaption p {
	margin-top: 0;
}


.sketchfab-embed-wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-top: 56.25%;
}
.sketchfab-embed-wrapper > iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}



.admonition.foldable {
	padding: 0;
}
.admonition.foldable > * {
	max-height: 0;
	margin: 0 .5rem;
	transition: max-height 0.1s;
	transition: margin 0.1s;
	overflow: hidden;
}
.admonition.foldable.open > * {
	max-height: inherit;
	overflow: inherit;
	margin: .5rem;
}
.admonition.foldable > .admonition-title {
	max-height: inherit;
	margin: 0;
}
.admonition.foldable > .admonition-title::before {
	-webkit-mask-image: none;
	mask-image: none;
	background: none;
}

.admonition.foldable .admonition-title {
	display: block;
	clear: both;
	cursor: pointer;
}
.admonition.foldable > .admonition-title:before {
	content: "▼";
	transform: rotate(-90deg);
	transition: transform 0.1s;
	transform-origin: 35% 60%;
	color: var(--color-admonition-title);
}
.admonition.foldable.open > .admonition-title:before {
	content: "▼";
	transform: rotate(0deg);
}

:root {
	--color-admonition-title--yes: rgb(0, 200, 82);
	--color-admonition-title-background--yes: rgba(0, 200, 82, 0.2);

	--color-admonition-title--no: rgb(255, 82, 82);
	--color-admonition-title-background--no: rgba(255, 82, 82, 0.2);

	/* Handled in conf.py
	Light:
	--color-admonition-title--quickstart: rgb(206, 87, 51);
	--color-admonition-title-background--quickstart: rgba(206, 87, 51, 0.2);
	Dark:
	--color-admonition-title--quickstart: rgb(0, 124, 172);
	--color-admonition-title-background--quickstart: rgba(0, 124, 172, 0.2);
	*/
}

.admonition.quickstart {
	--color-admonition-title: var(--color-admonition-title--quickstart);
	--color-admonition-title-background: var(--color-admonition-title-background--quickstart);
}
.admonition.yes {
	--color-admonition-title: var(--color-admonition-title--yes);
	--color-admonition-title-background: var(--color-admonition-title-background--yes);
}
.admonition.no {
	--color-admonition-title: var(--color-admonition-title--no);
	--color-admonition-title-background: var(--color-admonition-title-background--no);
}
.admonition.seealso {
	--color-admonition-title: var(--color-admonition-title--seealso);
}
.admonition.warning {
	--color-admonition-title: var(--color-admonition-title--warning);
}
.admonition.note {
	--color-admonition-title: var(--color-admonition-title--note);
}

.bullet {
	font-size:0.5em;
	vertical-align: text-top;
	display: inline-block;
	margin-top: 0.45em;
}
